.example-card {
    max-width: 60%;
    border: .5px solid black;
    margin: .5rem auto;
}
.txt{
    margin: .5rem;
    font-size: 1rem;
}
.tp{
    float: right;
    font-size: .8rem;
    margin: .5rem;
}
.par{
    text-align: center;
}