<!-- <div class="container">
    <div class="name">
        <h2>{{feed.name}}</h2>
    </div>
    <div class="msg">
        <p>{{feed.message}}</p>
    </div>
    <div class="ttl">
        <p>{{feed.type}}</p>
    </div>
</div> -->

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="txt"><h3>{{feed.name | uppercase}} said...</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content class="txt">
      <p class="par">{{feed.message | quoteit}}</p>
      <mat-divider></mat-divider>
      <p class="tp">{{feed.type}}</p>
    </mat-card-content>
</mat-card>