.container{
    width: 80%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    /* padding: 2rem; */
    margin: 0 auto;
}
.bx{
    padding: .5rem 0rem;
    margin: 1rem;
}
mat-slider {
    width: 300px;
  }
.slt{
    display: flex;
    align-items: center;
}
.slide{
    display: flex;
    align-items: center;
}