.nv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F74BA;
    padding: .5rem;
    font-weight: bolder;
}
.nv>*{
    font-family:cursive;
    font-size: 2rem;
}
.crd{
    padding: 0rem 1rem;
}
#comp{
    text-decoration: none;
    color:  #F09120;
    background-color: hsl(207, 71%, 43%);
}