.box{
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    color: white;
    max-height: 100%;
    margin: 2rem;
    padding: 1rem;
    align-items: flex-start;
}
.box img{
    background-color: #1c7a45;
    border-radius: 1.3rem;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}
.txt p{
    padding-left: 0;
}
.txt-c{
    padding: 3rem 4rem;
}