<div class="nav-bar">
    <div class="lft">
        <img src="../../assets/Images/icn-heart.png" alt="icn">
        <h1>Flat Theme</h1>
    </div>
    <div class="rgt">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>