.nav-bar{
    display: flex;
    background-color: #34495e;
    justify-content: space-between;
    padding: 1rem 4rem;
}
.lft{
    display: flex;
    width: 50%;
    align-items: center;
    color: white;

}
.lft h1{
    font-weight: 800;

}
.rgt ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li{
    padding: 1rem;
}
a{
    color: #929dab;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 800;
}
li:hover{
    background-color: #2d3e4e;
}
a:hover{color: white;}
